<?xml version="1.0"?>
<model>
  <name>maze</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Rogerio Bragato</name>
    <email>rogeriobcuenca@gmail.com</email>
  </author>
  <description>
    Labirinto completo com todas as paredes posicionadas.
  </description>
</model>
