<?xml version="1.0"?>

<model>
  <name>wolf</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Rogerio Bragato</name>
    <email>rogeriobcuenca@gmail.com</email>
  </author>

  <description>
    Nova caixa para Yolo com altura para o laser.
  </description>
</model>
